@font-face {
    src: url("../fonts/NunitoSans-Regular.ttf");
    font-family: "Nunito Sans";
}

@font-face {
    src: url("../fonts/NunitoSans-Italic.ttf");
    font-family: "Nunito Sans Italic";
}

@font-face {
    src: url("../fonts/YesevaOne-Regular.ttf");
    font-family: "Yeseva One";
    font-weight: 400;
}

body {
    margin: 0 auto;
    padding: 0 20px;
    font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
    max-width: 1440px;
}

body * {
    box-sizing: border-box;
}

.header {
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 83px;
    font-size: 11px;
}

.header-nav {
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 18px;
    margin-left: 80px;
    width: 850px; height: 24px;
    list-style: none;
    display: flex;
}

.header-nav a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #E3B873;
}

a:active {
    border-bottom: 1px solid;
    color: #E3B873;
}

.header_nav_link {
    padding-right: 47px;

}

.logo {
    display: flex;
    align-items: center;
    padding-left: 92px;
    color: #E3B873;
    font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
}

.block {
    background-image: url("../images/block.jpg");
    background-size: cover;
    background-position: center;
    height: 707px;
    position: relative;
    padding-top: 194px;
}

.color-text {
    color: #E3B873;
}

.title {
    margin-top: 0; margin-bottom: 19px;
    margin-right: 150px;
    font-family: "Yeseva One", Helvetica, Arial, serif;
    font-size: 40px;
    line-height: 130%;
    padding-right: 628px;
    padding-left: 134px;
    color: white;
}

.block-text {
    font-size: 22px;
    line-height: 160%;
    color: white;
    margin: 0 800px 25px 134px;
}

.block-overlay, .plafond-overlay {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba( 0, 0, 0, .7);
}

.block-container {
    position: relative;
    z-index: 1;
}

.button {
    background: #E3B873;
    box-shadow:  5px 20px rgba(227, 184, 115, 0.1);
    border-radius: 2px; border: 0;
    color: white;
    outline: 0; text-transform: uppercase;
    font-size: 11px;
    padding: 13px 33px;
    margin-right: 92px;
    cursor: pointer;
}

.button-calculate {
    padding: 18px 45px;
    margin-right: 20px;
    margin-left: 134px;
    font-family: "Nunito Sans Italic", Helvetica, Arial, sans-serif;
}

.button-submit {
    background: transparent;
    border: solid white 1px;
    padding: 17px 29px;
    font-family: "Nunito Sans Italic", Helvetica, Arial, sans-serif;
}

.block-deux {
    display: flex;
    justify-content: space-around;
    background-color: #131313;
    background-size: cover;
    background-position: center;
    height: 1074px;
    position: relative;
}

.menu {
    padding-right: 60px;
}

.nav_block_deux {
    margin-top: 105px;
    margin-bottom: 50px;
    font-size: 14px;
    line-height: 136%;
    Font-family: "Yeseva One", Helvetica, Arial, serif;
}

.fumespace {
    width: 679px;
    height: 482px;
    background-image: url("../images/fumespace.jpg");
}

.block-deux-1 {
    padding-top: 176px;
    margin-left: 134px;
    width: 626px;

}

.block-deux-2 {
    margin-right: 249px;
}

.title-1 {
    Font-family: "Yeseva One", Helvetica, Arial, serif;
    font-size: 27px;
    line-height: 120%;
    margin-left: 120px;
    margin-top: 0;
    color: #E3B873;
}

.block-text-1 {
    margin-top: 0;
    font-size: 14px;
    line-height: 190%;
    color: white;
}

.description {
    margin-left: 120px;
    padding-top: 10px;
}

.project {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left: 130px;
    width: 442px;
    padding-top: 34px;
}

.city-style {
    height: 102px;
    width: 190px;
    margin-bottom: 10px;
    display: inline-block;
}

.header-nav-deux {
    min-inline-size: max-content;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 18px;
    margin-left: 0;
    padding-left: 0;
    width: 624px; height: 24px;
    list-style: none;
    display: flex;

}

.city, .city-control, .types, .h3 {
    font-family: "Yeseva One", Helvetica, Arial, serif;
    font-size: 18px;
    line-height: 130%;
    color: #E3B873;
    margin-top: 0;
    margin-bottom: 10px;
}

.city-control {
    color: #FFFFFF;
    font-size: 20px;
    line-height: 140%;
    padding-top: 92px;
}

.camera_space, .hummer {
    display: flex;
    align-items: center;
    margin-left: 28px;
    height: 28px;
}

.camera {
    padding: 9px;
}

.camera_tire {
    width: 32px;
    height: 5%;
    border-radius: 30px;
}

.point {
    opacity: 30%;
    padding-right: 9px;
    padding-left: 9px;
    padding-bottom: 2px;
}

.point:hover {
    opacity: initial;
}

.fleches {
    margin-left: 130px;
    margin-top: 20px;
}
.fleches a,.button_play a:active {
    border-bottom: 0;
}

.fleche {
    margin-right: 14px;
}

.plafond {
    background-image: url("../images/Plafond.jpg");
    background-size: cover;
    background-position: center;
    height: 434px;
    width: 817px;
    margin-left: 303px;
    margin-top: 180px;

}

.plafond-overlay {
    background-size: cover;
    background-position: center;
    height: 434px;
    width: 817px;
    margin-left: 312px;
    margin-top: 847px;

}

.button_play {
    position: relative;
    margin-top: 165px;
    background: transparent;
    padding-left: 12px;
    box-shadow: none;
}

.block-trois {
    height: 3600px;
    background-color:#FFFFFF;
    background-size: cover;
    background-position: center;
    border: solid 1px black;
}

.tire_deux {
    width: 55px;
    height: 2px;
    margin-top: 267px;
    margin-left: 690px;
    border-radius: 30px;
}

.block-text-2 {
    text-align: center;
    margin-top: 22px;
    margin-left: 380px;
    width: 681px;
    height: 131px;
    font-size: 18px;
    line-height: 200%;
    color: #363636;
}

.fio  {
    width: 231px;
    height: 45px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    position: absolute;
    margin-top: 81px;
    margin-left: 336px; 
   
}

.phone {
    width: 231px;
    height: 45px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    position: absolute;
    margin-top: 81px;
    margin-left: 624px;
}

.name, .name-1 {
    font-size: 14px;
    color: #363636;
    position: absolute;
    margin-top: 62px;
    margin-left: 338px;
}

.name-1 {
    margin-left: 626px;
}

.button-input {
    width: 200px;
    height: 51px;
    box-shadow: 0 15px;
    font-size: 13px;
    margin-left: 903px;
    margin-top: 82px;
}

.agree {
    display: flex;
    min-inline-size: max-content;
    align-items: center;
    margin-top: 33px;
    margin-left: 573px;
    width: 285px;
    height: 18px;
}

.checkbox, .checkbox-1 {
    display: none;
}

.accord {
    font-size: 14px;
}

.accord:before, .accord-1:before {
    width: 18px;
    height: 18px;
    border-radius: 1px;
    background: #E3B873;
    color: white;
    display: inline-block;
    margin-right: 8px;
    text-align: center;
    content: "";
    vertical-align: middle;
}

.checkbox:checked + label:before {
    content: url("../svg/bird.svg");
}
.checkbox-1:checked + label:before {
    content: url("../svg/bird.svg");
}

.types {
    color: #181818;
    font-size: 20px;
    line-height: 120%;
    margin-top: 149px;
    margin-left: 630px;
}

.hummer {
    margin-top: 15px;
    margin-left: 665px;  
}

.examples {
    display: flex;
    justify-content: space-between;
    margin-top: 31px;
}

.tableau {
    width: 392px;
    height: 421px;
}

#rede {
    background: url("../images/redecoration.jpg");
    margin-left: 100px;
}
#over {
    background: url("../images/overhaul.jpg");
}
#design {
     background: url("../images/designer.jpg");
     margin-right: 100px;     
}

.opisanie {
    width: 330px;
    background-color: #FFFFFF;
    margin-top: 300px;
    margin-left: 30px;
}

.h3 {
    margin-left: 20px;
    color: #363636;
    padding-top: 17px;
    padding-left: 16px;
}

.spisok {
    font-size: 13px;
    padding-left: 50px;
    margin-top: 4px;
    line-height: 200%;
    color: #959595; 
    opacity: 1;
}

.square {
    height: 54px;
    font-family: "Yeseva One", Helvetica, Arial, serif;
    font-size: 18px;
    line-height: 120%;
    margin-top: 10px;
    margin-left: 30px;
}

.whitehome {
   display: flex;
   flex-wrap: wrap; 
}

.ronde {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    width: 42px;
    color: white;
    background-color: #E3B873;
    border-radius: 50%;
    margin-left: 248px;
}

.chifre {
    font-family: "Yeseva One", Helvetica, Arial, serif;
    font-size: 18px;
    line-height: 120%;
    position: absolute;
    text-align: center;
}


.left {
     display: flex;
     flex-direction: column;
     margin-top: 358px;
     height: 650px;
     width: 700px;
     background-image: url("../images/whitehome.jpg");
     border: solid black 1px;
}

.whitelist {
    display: flex;
    margin-top: 60px;
    margin-bottom: 20px;
}

.whitehome-text {
    margin-left: 18px;
    width: 320px;
    height: 39px;
    font-size: 14px;
    line-height: 100%;
    color: #363636;
    min-inline-size: max-content;
    text-align: left;
}

.right {
    width: 506px;
    height: 509px;
    margin-top: 415px;
    margin-left: 135px;
    border: black solid 1px;
    background-color: #131313;
}

.whitehome-text-right {
    font-size: 18px;
    line-height: 130%;
    margin-top: 30px;
    text-align: center;
    color: #FFFFFF;
}

.fio-1, .phone-1, .email {
    width: 408px;
    margin-top:25px;
    margin-left: 50px;
    background-color: #131313;
    color: #FFFFFF;
}

.name_whitehome, .name_whitehome-1, .email-1, .agree-1 {
    margin-top: 10px;
    margin-left: 50px;   
}

.phone-1 {
    width: 408px;
    margin-top: 115px;
}

.name_whitehome-1 {
    margin-top: 100px;
}
.email {
    width: 408px;
    margin-top: 215px;
}

.email-1 {
    margin-top: 200px;
}

.agree-1 {
    margin-top: 300px;
    color: #FFFFFF;
}

.accord-1 {
    font-size: 14px;
    line-height: 163%;
}

.measurer {
    margin-top: 40px;
    margin-left: 240px;
    width: 213px;
    box-shadow: none;
}

.piggy {
    margin-left: 846px;
    margin-top: -54px;
}

.piggy-text {
    font-size: 18px;
    line height: 140%;
    color: #E3B873;
    margin-top: -30px;
    margin-left: 5px;
}












